services:
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_DB: moonshine
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5433:5432"
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend: