.frame
  border-top: 2px solid #DADADA
  margin-top: 50px

  .log
    max-height: inherit
    overflow-y: scroll
    height: 200px
    padding-left: 40px

    .switch
      float: right

    span
      color: red
      font-weight: bold

    .chat
      .input
        &.row
          max-height: 40px

        .message-input
          width: 50%
          float: left
          margin-right: 30px

        .recipient
          display: flex
          margin-top: 8px

          .for
            margin-right: 5px

        .remove
          display: inline-block
          margin-left: 8px
          color: #8c8c8c
          font-size: 14px
          cursor: pointer

      .messages
        margin-left: -9px
        margin-top: 6px

        .text
          margin: 0
          padding-left: 10px
          padding-right: 10px

          &.private
            display: inline-block
            background: rgba(226, 141, 141, 0.68)

        .message
          display: block
          margin-bottom: 5px

          .name
            float: left
            margin-right: 10px
            cursor: pointer

          .recipient
            cursor: pointer
            font-weight: bold

  .players-online
    max-height: inherit

    .player
      .name
        cursor: pointer
      p
        margin: 0